<%= stylesheet_link_tag 'application', 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
<%= javascript_include_tag 'application', 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' %>
<%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Lobster' %>
<%= wicked_pdf_stylesheet_link_tag 'application.css' %>
<%= wicked_pdf_stylesheet_link_tag 'pdf.css' %>
<%= wicked_pdf_javascript_include_tag 'graph' %>

<h1 class="pdf_handout_title pdf_handout_heading">Sprint Review Agenda</h1>
<legend>
<p class="pdf_handout_heading"><span class="label label-info">Sprint Timebox</span><span class="label label-warning"><%= @start_date %> - <%= @end_date %></span></p>
<p class="pdf_handout_heading"><span class="label label-info">Percentage Completed</span><span class="label label-warning"><%= @percent_completed %>%</span></p>

<div class="row team">
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading dev-team">
        <h4>Development</h4>
      </div>
      <div class="panel-body">
      <% if @devs.present? %>
        <% @devs.each do |dev| %>
          <p><%= dev.first_name %> <%= dev.last_name %></p>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading tpo">
        <h4>Team Product Owner</h4>
      </div>
      <div class="panel-body">
      <% if @tpo.present? %>
        <p><%= @tpo.first_name %> <%= @tpo.last_name %></p>
      <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading scrummaster">
        <h4>Scrum Master</h4>
      </div>
      <div class="panel-body">
      <% if @scrum_master.present? %>
        <p><%= @scrum_master.first_name %> <%= @scrum_master.last_name %></p>
      <% end %>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="pdf_handout_headings">Completed Stories</h3>
  </div>
  <div class="panel-body panel-stories">
    <table class="table table-bordered table-condensed completed">
      <thead>
        <tr>
          <th>Product</th>
          <th>User Story</th>
        </tr>
      </thead>
      <tbody>
      <% @results.each do |us| %>
        <% if us.ScheduleState === 'Accepted' && us.Name != 'Action Items' %>
          <tr>
            <td><%= us.c_Product %></td>
            <td><%= us.name %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="pdf_handout_headings">Work In Progress</h3>
  </div>
  <div class="panel-body panel-stories">
    <table class="table table-bordered table-condensed in_progress">
      <thead>
        <tr>
          <th>Product</th>
          <th>User Story</th>
        </tr>
      </thead>
      <tbody>
      <% @results.each do |us| %>
        <% if us.ScheduleState != 'Accepted' && us.Name != 'Action Items' %>
          <tr>
            <td><%= us.c_Product %></td>
            <td><%= us.name %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="graph">
  <img src=<%= @graph_link.link %>>
</div>
