<h1>Rally Results</h1>

<!--<% @results.each do |us| %>
  <p><%= us.Name %> | | <%= us.FormattedID %> | <%= us.PlanEstimate %> | <%= us.c_Product %>| <%= us.Iteration %> | <%= us.ScheduleState %></p>
<% end %>-->


<!-- <select>
    <%= @results.each do |u| %>
    <option><%= u.Iteration %></option>
    <% end %>
</select> -->

<% @results.each do |u| %>
  <p><%= u.IterationObjectID %>||<%= u.CardCount %>||<%= u.CardState %>||<%= u.TaskEstimateTotal %>||<%= u.FormattedID %></p>
<% end %>
